/* Research Page Styles */
.research-page {
  // display: flex;
  // flex-direction: column;
  // align-items: center; /* Centers content within the page */
  // padding: 2rem;
  // max-width: 1200px; /* Increased width for larger screens */
  // margin: 3.75rem auto 0; /* Centers the main content area on the page */
  // top: 50%;
  // left: 50%;
  // transform: translate(-50%, -50%);
  position: absolute;
  margin: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: rgba(255, 255, 255, 0.8);
  width: 100%;
  max-width: 90%;
  z-index: 1;

  @include breakpoint($md) {
    max-width: 40em;
  }
  
}

.research-intro_h1 {
  font-size: 2.5rem;
  // text-align: center;
  // flex: 1;
  max-width: 52.5rem;
  margin: 0 auto;
  padding: 2.5em 0;

  @include breakpoint($md) {
    padding: 3.75rem 0;
  }
}

.research-intro_p {
  font-size: 1.2rem;
  color: #666;
  margin-bottom: 2rem;
  text-align: center;
  flex: 1;
}

/* Adjusted Grid for Centered Cards */
.post-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1.5rem;
  place-items: center;  /* Centers the grid in the container */
  width: 100%; /* Ensures grid takes full width of its container */
  max-width: 1000px; /* Limits the width for better alignment on larger screens */
}

.post-card_research {
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 1rem;
  background-color: #fff;
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  max-width: 700px; /* Consistent width for each card */
  width: 100%; /* Ensures the card takes full available width in its grid cell */

   &:hover,
  &:focus {
    border-bottom: 0;
    box-shadow: 0 2px 40px 0 hsla(232, 8%, 63%, .3);
  }
}

// .post-card_research:hover {
//   transform: translateY(-5px);
//   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
// }

.post-title {
  font-size: 1.5rem;
  color: #333;
  margin-bottom: 0.5rem;
}

.post-summary {
  font-size: 1rem;
  color: #555;
}
