---
layout: compress
title: Research
---

<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en-US" }}">
{% include head.html %}
  
<body class="site">
  {% include header.html %}


  <div class="hero--small">
      <div class="hero__wrap">
        <h1 class="hero__title">{{ page.title }}</h1>
      </div>
  </div>
  
  <main class="research-page">
    <div class="research-intro_h1">
      Research
      <p class = "research-intro_p">
      Explore our latest research results and findings.
      </p>
    </div>

    <section class="container">
      <div class="post-grid">
        {% for post in site.posts %}
          <article class="post-card_research">
            <a href="{{ post.url | relative_url }}">
              <h2 class="post-title">{{ post.title }}</h2>
              <p class="post-summary">
                {% if post.excerpt %}
                  {{ post.excerpt | strip_html | truncatewords: 30 }}
                {% else %}
                  {{ post.content | strip_html | truncatewords: 30 }}
                {% endif %}
              </p>
            </a>
          </article>
        {% endfor %}
      </div>
    </section>
    
  </main>

  {% include footer.html %}
</body>
</html>
